<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XDRadio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88EE58831EBAF6AF0072176A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88EE589C1EBAF6B00072176A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88EE58A71EBAF6B00072176A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
